
#root{
  background: rgb(255, 142, 142);
  background: linear-gradient(0deg, rgb(255, 142, 142) 0%, rgba(255, 142, 142) 20%, rgb(252, 220, 151) 45%, rgb(252, 220, 151) 100%);
}

button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #6e7b27;
  color: rgb(126, 16, 16);
  border: none;
  cursor: pointer;
}

.pizzas-container {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-6px);
}

.pizzas-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pizza-item {
  background-color: #ffffff;
  font-size: larger;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  min-width: 300px;
  max-width: 350px;
  border: 1px solid #ccc;
  text-align: center;
}

.pizza-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
}
.random-pizza {
  margin-top: 20px;
  text-align: center;
}

.random-button {
  margin: 20px;
  padding: 10px 20px;

  background-color: #a3680eac;
  color: rgb(126, 16, 16);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.random-pizza h2 {
  color: rgb(227, 52, 52);
}
.cartContainer div{
  position: relative;
  width: 100%;
  height: auto;
  background-color: #f8f8f8;
  padding: 5px;
  border-radius: 5px;
  overflow: hidden;
}
 .cartContainer div ::before{
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-6px);
  z-index: -1;
}

.decreasePizzaCount, .increasePizzaCount, .pizzaCountToAdd, .addToCart {
  background-color: #ffffff;
  font-size: larger;
  padding: 20px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-3 .col-sm-1 .cart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row .cart{
  margin-top: auto;
  display: flex;
  justify-content: space-evenly; 
  align-items: center;
}

.placePizzaOrder{
  background-color: #ffffff1f;
  font-size: 2em;
  padding: 20px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 80%;
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cart-complete{
  margin: auto;
  justify-content: center;
  align-items: center;
}
