#root {
  background: rgb(255, 142, 142);
  background: linear-gradient(
    0deg,
    rgb(255, 142, 142) 0%,
    rgba(255, 142, 142) 20%,
    rgb(252, 220, 151) 45%,
    rgb(252, 220, 151) 100%
  );
}

.pizzas-container {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-6px);
}

.pizzas-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col-9.mainPizzaContainer {
  min-width: 240px !important;
}
.order-submition-modal {
  position: fixed !important;
  width: 40% !important;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.pizza-item {
  background-color: #ffffff;
  font-size: larger;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  min-width: 200px;
  max-width: 250px;
  border: 1px solid #ccc;
  text-align: center;
}

.pizza-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
}
.random-pizza {
  margin-top: 20px;
  text-align: center;
}

.random-button {
  margin: 20px;
  padding: 10px 20px;

  background-color: #a3680eac;
  color: rgb(126, 16, 16);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.random-pizza h2 {
  color: rgb(227, 52, 52);
}
.cartContainer div {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #f8f8f8;
  padding: 5px;
  border-radius: 5px;
  overflow: hidden;
}
.cartContainer div ::before {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-6px);
  z-index: -1;
}

.decreasePizzaCount,
.increasePizzaCount,
.pizzaCountToAdd,
.addToCart {
  background-color: #ffffff;
  font-size: larger;
  padding: 10px;
  margin: 0px;
  align-content: center;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  min-width: 50px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.decreasePizzaCountInOrder,
.increasePizzaCountInOrder,
.pizzaCountInOrder{
  background-color: #ffffff;
  font-size: larger;
  padding: 5px;
  margin: 0px;
  align-content: center;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  min-width: 40px;
  width: 40px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-row-buttons,
.row.cart-align-items-center {
  height: 100%;
}

.row .cart {
  margin-top: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.placePizzaOrder {
  background-color: #ffffff1f;
  font-size: 2em;
  padding: 20px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 80%;
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cart-complete,
.orderModalFooter {
  margin: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.orderModalHeader-order {
  width: 100%;
  background-color: #198754 !important;
}

.orderModalTitle{
  color: #ffffff;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.orderListPizzas, .orderModalButton{
  font-size: 20px !important;
}
