@import url("https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap");

.container {
  position: relative;
  display: inline-block;
}

.container img {
  max-width: 150%;
  height: auto;
}

.custom-header {
  font-family: "UnifrakturMaguntia", sans-serif;
  color: #d7ccc0;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5;
  font-style: italic;
  white-space: pre;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}
