@import url("https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap");

.container {
  position: relative;
  display: inline-block;
}

.container img {
  max-width: 150%;
  height: auto;
}

.menuBookImage{
  min-width: 500px;
}

.custom-header {
  font-family: "UnifrakturMaguntia", sans-serif;
  color: #d7ccc0;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5;
  font-style: italic;
  white-space: pre;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}


.mymaps, .mymapsframe{
  width: 100%;
  height: 500px !important;
}

.container.demo-bg{
  padding-top: 20px;
  width: 1400px;
}

/* Work Hours Component */
.demo-bg {
  background: #ffac0c;
  margin-top: 60px;
  }
  .business-hours {
  background: #222; 
  padding: 40px 14px;
  margin-top: -15px;
  position: relative;
  height: 600px; 
  min-width: 250px;
  }
  .business-hours:before{
  content: '';
  width: 23px;
  height: 23px;
  background: #111;
  position: absolute;
  top: 5px;
  left: -12px;
  transform: rotate(-45deg);
  z-index: -1;
  }
  .business-hours .title {
  font-size: 20px;
  color: #BBB;
  text-transform: uppercase;
  padding-left: 5px;
  border-left: 4px solid #ffac0c; 
  }
  .business-hours li {
  color: #888;
  line-height: 30px;
  border-bottom: 1px solid #333;
  }
  .business-hours li:last-child {
  border-bottom: none; 
  }
  .business-hours .opening-hours li.today {
  color: #ffac0c; 
  }

