/* .App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh !important;
}

.test {
  background-color: #bbb;
  height: 500px;
  width: 500px;
}

/* @media screen and (min-width: 1280px) {
  .top_mobile_header {
      display: none !important;
  }
  .content_body {
    padding-top: 0px !important;
  }
} */

.main {
  min-height: 40vh;
  max-width: 90vw;
  margin-right: auto;
  margin-left: auto;
  flex: auto;
  flex-direction: column;
}

.top_mobile_header {
  color: white;
  display: flex;
  justify-content: space-between;
  z-index: 7;
  margin: 0;
  top: 0;

  padding-left: 24px;
  padding-right: 18px;
  padding-bottom: 10px;

  height: 60px;
  width: 100%;

  box-shadow: 0 1px 2px rgba(0,0,0,.16);

  display: block;
  position: fixed;
  background-repeat: no-repeat;
  background-color: rgb(185, 29, 9);
}
.top_mobile_header label {
  font-size: 48px;
  display: inline-block;
}
.footer-container {
  background-image: url(./pic/bg1.svg);
  padding: 4rem 0 4rem 0;
  bottom: 0;
}
.footer {
  width: 100%;
  min-height: 20em;
  display: flex;
  color: white;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}
.footer-heading {
  display: flex;
  flex-flow: column wrap;
  margin-right: 4vw;
}
.footer-heading h2 {
  margin-bottom: 2rem;
}
.footer-heading a {
  color: white;
  text-decoration: none;
  margin-bottom: 0.5rem;
}
.footer-heading a:hover {
  color:orange;
  transition: 0.15s ease-out;
}
.footer-email-form h2 {
  margin-bottom: 2rem;
}
#footer-email {
  width: 250px;
  height: 40px;
  border-radius: 10px 0 0 10px;
  outline: none;
  border: none;
  padding-left: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}
#footer-email::placeholder {
  color: silver;
}
#footer-email-btn {
  width: 100px;
  height: 40px;
  border-radius: 0 10px 10px 0;
  background-color:#d02;
  outline: none;
  border: none;
  color:white;
  font-size: 1rem;
}
#footer-email-btn:hover {
  cursor:pointer;
  background-color:#d46;
  transition: 0.2s ease-out;
}
#footer-email-btn:active {
  background-color:darkorange;
  transition: none;
}
@media screen and (max-width: 1150px) {
  /* .footer{
    width: 95%;
    height: 50vh;
  } */
  /* .footer-email-form {
    margin-top: 4rem;
  } */
}
@media screen and (max-width: 820px) {
  .footer{
    padding-top: 2rem;
  }
}
@media screen and (max-width: 674px) {
  .footer-3{
    display: none;
  }
  .footer-email-form {
    margin-top: 2rem;
  }
}
/* 
.login_icon {
  float: right;
  display: inline-block;
  background-image: url(./pic/sign-in-alt.svg);
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  margin-left: 15px;
  padding: 0;
}
.cart_icon {
  float: right;
  display: inline-block;
  background-image: url(./pic/shopping-bag.svg);
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  margin-left: 15px;
  padding: 0;
}
.help_icon {
  float: right;
  display: inline-block;
  background-image: url(./pic/seal-question.svg);
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  margin-left: 15px;
  padding: 0;
} */