* {
  font-family: Arial, Helvetica, sans-serif;
}

/* img.main-bg{
  opacity: 0.5;
} */

html, body, #root {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
/* Hide the default scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  box-shadow: inset 0 0 6px #0004;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.p_test {
  background-color: #bbb;
  height: 500px;
  width: 500px;
} 
.p_error_box {
  background-color: #f00;
  color: #fff;
  border: 1px solid;
  border-color: #a00;
  border-radius: 0.6em;
  padding: 0.5em 1em;
  min-height: 2em;
  text-shadow: 3px 0px 7px rgba(81,67,21,0.8), 
    -3px 0px 7px #541c, 
    0px 4px 7px rgba(81,67,21,0.8);
  box-shadow: #244 0 3px 16px -10px,
    #3364 0 20px 40px -12px inset;
  width: auto;
} 
.p_wrapper {
  margin-bottom:auto;
  display: flex;
}
.p_content {
  max-width: 90vw;
  margin: 1em auto;
}
.p_navbar_wrapper {
  justify-content: space-between;
  background-color: #333;
}
.p_navbar_ {
  max-width: 90vw;
  margin: auto;
  display: flex;
  height: 3.5em;
  justify-content: space-between;
}
.p_nav-logo {
  cursor: pointer;
}
.p_nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1.33em;
  height: 3.5em;
  cursor: pointer;
}
.p_left-items>a , .p_right-items>a {
  color: #fff;
  text-decoration: none;
}
.p_left-items {
  display: flex;
}
.p_right-items {
  display: flex;
}
.p_nav-item:hover {
  background-color: #555;
}
.p_nav-item.active {
  background-color: #888;
}
.p_footer-wrapper {
  background-image: url(./pic/bg1.svg);
  padding: 4rem 0 4rem 0;
  bottom: 0;
  position: relative;
  width: 100%;
}
.p_footer {
  display: flex;
  color: white;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}
.p_footer-heading {
  display: flex;
  flex-flow: column wrap;
  margin-right: 4vw;
}
.p_footer-heading h2 {
  margin-bottom: 2rem;
}
.p_footer-heading a {
  color: white;
  text-decoration: none;
  margin-bottom: 0.5rem;
}
.p_footer-heading a:hover {
  color:orange;
  transition: 0.15s ease-out;
}
.p_footer-email-form h2 {
  margin-bottom: 2rem;
}
.p_input-field {
  width: 100%;
  height: 2.5em;
  box-shadow: 0 0 2px black;
  border: 1px solid #fff;
  border-radius: 0.6em;
  padding-left: 0.9em;
}
.p_input-field::placeholder {
  color: #89a;
}
.p_input-field:focus {
  box-shadow: 0 0 3px #9e9;
  outline: #080;
  border: 1px solid #000;
  transition:200ms;
}
.p_button {
  color: white;
  width: 100%;
  height: 1.9em;
  background-color:#191;
  text-shadow: 2px 2px 0 #00000070 ;
  box-shadow: 0 0 1px #080;
  border: none;
  outline: none;
  border-radius: 0.6em;
  padding-left: 0.9em;
}
.p_button:hover {
  background-color:#4b4;
}
.p_button:active {
  background-color:#6d6;
}
.p_button:disabled {
  background-color:#888;
  text-shadow: none;
  color: #000;
  transition: 0.1s ease-out;
  cursor: not-allowed;
}
#footer-email {
  width: 14em;
  height: 2.5em;
  border-radius: 10px 0 0 10px;
  outline: none;
  border: none;
  padding-left: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}
#footer-email::placeholder {
  color: silver;
}
#footer-email-btn {
  width: 100px;
  height: 40px;
  border-radius: 0 10px 10px 0;
  background-color:#d02;
  outline: none;
  border: none;
  color:white;
  font-size: 1rem;
}
#footer-email-btn:hover {
  cursor:pointer;
  background-color:#d46;
  transition: 0.2s ease-out;
}
#footer-email-btn:active {
  background-color:darkorange;
  transition: none;
}
@media screen and (max-width: 1150px) {
  /* .footer{
    width: 95%;
    height: 50vh;
  } */
  /* .footer-email-form {
    margin-top: 4rem;
  } */
}
@media screen and (max-width: 820px) {
  .footer{
    padding-top: 2rem;
  }
}
@media screen and (max-width: 674px) {
  .footer-3{
    display: none;
  }
  .footer-email-form {
    margin-top: 2rem;
  }
}
/* 
.login_icon {
  float: right;
  display: inline-block;
  background-image: url(./pic/sign-in-alt.svg);
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  margin-left: 15px;
  padding: 0;
}
.cart_icon {
  float: right;
  display: inline-block;
  background-image: url(./pic/shopping-bag.svg);
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  margin-left: 15px;
  padding: 0;
}
.help_icon {
  float: right;
  display: inline-block;
  background-image: url(./pic/seal-question.svg);
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  margin-left: 15px;
  padding: 0;
} */