.pizzas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pizzas-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pizza-item {
  width: 200px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

.pizza-item img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}