body {
  background-image: url("./components/Images/menuBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #6e7b27;
  color: rgb(126, 16, 16);
  border: none;
  cursor: pointer;
}

.pizzas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.pizzas-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pizza-item {
  width: 200px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

.pizza-item img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.random-pizza {
  margin-top: 20px;
  text-align: center;
}

.random-button {
  margin: 20px;
  padding: 10px 20px;

  background-color: #a3680eac;
  color: rgb(126, 16, 16);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.random-pizza h2 {
  color: rgb(227, 52, 52);
}
